#botonn {
    background-color: rgb(18, 71, 115);
    color: white;
    border: none;
}

#css-botonn {
    background-color: rgb(18, 71, 115);
    color: white;
    border: none;
}

.color_barra {
    background-color: rgb(18, 71, 115);
    color: white;
}

/*-------------- COLORES DE LAS ALERTAS -----------*/
.custom-success {
    background-color: #73d389;
    color: #000000;
    -webkit-text-stroke: .5px rgb(21, 114, 20);
    /* Para navegadores basados en WebKit (por ejemplo, Chrome, Safari) */
}

.custom-danger {
    background-color: #d67781;
    color: #000000;
    -webkit-text-stroke: .5px rgb(122, 20, 20);
    /* Para navegadores basados en WebKit (por ejemplo, Chrome, Safari) */
}

.custom-info {
    background-color: #d9e06e;
    color: #000000;
    -webkit-text-stroke: .5px rgb(108, 122, 20);
    /* Para navegadores basados en WebKit (por ejemplo, Chrome, Safari) */
}

/*------------ ICONO DE AYUDA -----------*/
.help-icon {
    padding: 4px 4px;
    /* Ajusta el padding según sea necesario */
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    /* Espacio entre el ícono y el texto */
    color: #000000;
    /* Color del ícono, puedes personalizarlo */
}

.help-message {
    display: none;
    font-size: 11px;
    background-color: #ffffff;
    border: 1px solid #7c7c7c4e;
    padding: 13px;
    position: absolute;
    z-index: 1000;
    /* Para asegurarte de que esté por encima de otros elementos */
    max-width: 300px;
    /* Ancho máximo del mensaje */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.infor {
    font-size: 13px;
}

/*estilo - avatar*/
.profile-image {
    border-radius: 5px;
    object-fit: cover;
    box-shadow: -8px -5px 10px rgba(0, 0, 0, 0.288);
}

.custom-checkbox-label {
    display: flex;
    /* Para alinear el checkbox y la etiqueta en línea */
    align-items: center;
    /* Para centrar verticalmente el checkbox y la etiqueta */
    font-size: 13px;
    /* Tamaño de fuente de la etiqueta */
    padding-top: 10px;
}

.custom-checkbox {
    width: 18px;
    /* Ancho deseado de la casilla del checkbox */
    height: 18px;
    /* Altura deseada de la casilla del checkbox */
    margin-right: 10px;
    /* Espacio entre el checkbox y la etiqueta */
    /* Estilos adicionales para personalizar la apariencia del checkbox */
}

.estatus-inactivo {
    background-color: #f800195a;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Espacio entre los íconos */
}

.icon-container label {
    flex-basis: calc(33.33% - 100px);
    /* Ajusta el ancho según la cantidad de columnas deseadas */
}

.botonn {
    background-color: rgb(18, 71, 115);
    color: white;
    border: none;
}

/*-----------------------------------------------------*/
/* Estilo para el contenedor de la animación de carga */
.loading-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el spinner o animación de carga rgb(18, 71, 115) */
.loading-spinner {
    border: 8px solid rgb(18, 71, 115);
    border-top: 8px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*-----------------------------------------------------*/
.index {
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    /* Opcional: fija la imagen de fondo */
    background-position: center center;
    /* Opcional: centra la imagen */
    width: 100%;
    height: 70vh;
    /* Ajusta la altura según tus preferencias */
}

/*-------------------------------------------------------*/
.animacion-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 160px;
}

.animacion {
    position: absolute;
    width: 100px;
    /* Ancho deseado */
    height: 60px;
    left: 100px;
    animation: moveLeft 40s cubic-bezier(.5, -1, .5, 2) infinite alternate;
    max-width: 100%;
    /* Evita que la imagen se desborde del contenedor */
}

@keyframes moveLeft {
    0% {
        left: 100px;
    }

    100% {
        left: calc(100% - 100px);
        /* Mueve a la posición opuesta */
    }
}

#empleadosTable {
    font-size: 12px;
    /* Cambia el tamaño de fuente a tu preferencia */
}


.directa {
    background-color: rgb(18, 71, 115);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.btn_Empleado {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 80, 130);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:double;
    outline:invert;
}
.btn_Empleado:hover{
    background-color: rgba(26, 83, 130, 0.736);
}

.btn_Empleado i {
    font-size: 16px;
    line-height: 1;
}