body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.center-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#contenedor_login {
    background-color: #ffffff00; /* Cambia esto al color que desees para la sección */
    padding: 20px; /* Agrega espacio alrededor del contenido de la sección */
    box-shadow: 0px 0px 7px rgba(18, 71, 115, 0);
    border-radius: 15px;
}
/* Estilo base para el enlace */
a.button {
    font-size: 13px;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 0px 8px rgba(4, 4, 4, 0.067);
}
a.button:hover {
    background-color: #d8d8d852; 
    
}
/*---------------------------------------------------------*/
#botonn{
    background-color: rgb(18, 71, 115);
    color: white;
}


